{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "tabWidth": 2,
    "printWidth": 120,
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "endOfLine": "auto",
    "plugins": [
        "prettier-plugin-tailwindcss"
    ],
    "jsonSortOrder": "{\"*\": \"lexical\"}",
    "tailwindStylesheet": "./app/app.css",
    "tailwindFunctions": [
        "clsx"
    ]
}