# Environment
NODE_ENV=development

# Create a free PostgreSQL database
DB_PRISMA_URL=
DB_URL_NON_POOLING=

# Site Url
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Create an account in resend and get the api key https://resend.com/
RESEND_API_KEY=

#Stripe https://stripe.com/
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET =
STRIPE_PRO_PLAN_ID=

# LINE Login https://developers.line.biz/
LINE_CLIENT_ID=
LINE_CLIENT_SECRET=
LINE_REDIRECT_URI="http://localhost:3000/api/auth/line/callback"

LINE_BOT_CHANNEL_ACCESS_TOKEN=
LINE_BOT_CHANNEL_SECRET=