@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #E49C82;

    --oslo-gray-50: #f6f7f7;
    --oslo-gray-100: #eef1f1;
    --oslo-gray-200: #e0e4e5;
    --oslo-gray-300: #ccd2d5;
    --oslo-gray-400: #b6bec3;
    --oslo-gray-500: #a2acb2;
    --oslo-gray-600: #8d959e;
    --oslo-gray-700: #7f868e;
    --oslo-gray-800: #636970;
    --oslo-gray-900: #53585c;
    --oslo-gray-950: #303236;

    --grey-50: #f6f7f7;
    --grey-100: #e2e5e7;
    --grey-200: #d4d9dc;
    --grey-300: #c1c7cb;
    --grey-400: #b5bdc1;
    --grey-500: #a2acb2;
    --grey-600: #939da2;
    --grey-700: #737a7e;
    --grey-800: #595f62;
    --grey-900: #44484b;

    --base-white: #ffffff;
    --base-black: #000000;
    --base-warning: #FF4405;
    --base-success: #16B364;

    --blue: #2E90FA;
    --violet: #875BF7;
    --fuchsia: #D444F1;
    --pink: #EE46BC;
    --red: #F63D68;
    --orange: #FF4405;

    --gradient-01: linear-gradient(180deg, #A5C0EE 0%, #FBC5EC 100%);
    --gradient-02: linear-gradient(180deg, #FBC2EB 0%, #A18CD1 100%);
    --gradient-03: linear-gradient(135deg, #FCCB90 0%, #D57EEB 100%);

    --radio-default: #F5F5FA;

    --red-50: #FCF5F3;
    --red-100: #F7E0D8;
    --red-200: #F3D1C6;
    --red-300: #EDBDAB;
    --red-500: #E49C82;
    --red-600: #CF8E76;
    --red-700: #A26F5C;
    --red-800: #7D5648;
    --red-900: #604237;

    --yellow-50: #FEFCFA;
    --yellow-100: #FBF7F0;
    --yellow-200: #F9F3E8;
    --yellow-700: #ABA392;

    --brown-300: #D9D1C1;
    --brown-500: #C7BBA3;
    --brown-600: #B5AA94;
    --brown-700: #8D8574;
    --brown-900: #544F44;
  }
}

@layer base {
    body {
      @apply bg-yellow-100 text-brown-900;
    }
}

@layer utilities {
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  input[type="date"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}