@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #e49c82;

    --oslo-gray-50: #f6f7f7;
    --oslo-gray-100: #eef1f1;
    --oslo-gray-200: #e0e4e5;
    --oslo-gray-300: #ccd2d5;
    --oslo-gray-400: #b6bec3;
    --oslo-gray-500: #a2acb2;
    --oslo-gray-600: #8d959e;
    --oslo-gray-700: #7f868e;
    --oslo-gray-800: #636970;
    --oslo-gray-900: #53585c;
    --oslo-gray-950: #303236;

    --grey-50: #f6f7f7;
    --grey-100: #e2e5e7;
    --grey-200: #d4d9dc;
    --grey-300: #c1c7cb;
    --grey-400: #b5bdc1;
    --grey-500: #a2acb2;
    --grey-600: #939da2;
    --grey-700: #737a7e;
    --grey-800: #595f62;
    --grey-900: #44484b;

    --base-white: #ffffff;
    --base-black: #000000;
    --base-warning: #ff4405;
    --base-success: #16b364;

    --blue: #2e90fa;
    --violet: #875bf7;
    --fuchsia: #d444f1;
    --pink: #ee46bc;
    --red: #f63d68;
    --orange: #ff4405;

    --gradient-01: linear-gradient(180deg, #a5c0ee 0%, #fbc5ec 100%);
    --gradient-02: linear-gradient(180deg, #fbc2eb 0%, #a18cd1 100%);
    --gradient-03: linear-gradient(135deg, #fccb90 0%, #d57eeb 100%);

    --radio-default: #f5f5fa;

    --red-50: #fcf5f3;
    --red-100: #f7e0d8;
    --red-200: #f3d1c6;
    --red-300: #edbdab;
    --red-500: #e49c82;
    --red-600: #cf8e76;
    --red-700: #a26f5c;
    --red-800: #7d5648;
    --red-900: #604237;

    --yellow-50: #fefcfa;
    --yellow-100: #fbf7f0;
    --yellow-200: #f9f3e8;
    --yellow-300: #f6eede;
    --yellow-400: #f4ead7;
    --yellow-500: #f1e5cd;
    --yellow-700: #aba392;

    --brown-50: #f9f8f6;
    --brown-100: #eeeae2;
    --brown-300: #d9d1c1;
    --brown-500: #c7bba3;
    --brown-600: #b5aa94;
    --brown-700: #8d8574;
    --brown-900: #544f44;
  }
}

@layer base {
  body {
    @apply bg-yellow-100 text-brown-900;
  }
}

@layer utilities {
  input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  input[type='date'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
